/* Color palette: https://coolors.co/0b132b-1c2541-3a506b-5bc0be-6fffe9 */
.wrapper {
  display: flex;
  align-items: stretch; /* This property makes sure all the child elements have the same height */
}

.sidebar {
  color: #fdfffc;
  background: #0b132b;
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
}

/* Different color and padding for the header */
.sidebar .sidebar-header {
  background: #1c2541;
}

/* Add border on the bottom of the lists */
.sidebar ul.components {
  border-bottom: 1px solid #1c2541;
}

/* Create a white color for the subtitle */
.sidebar ul p {
  color: white;
}

/* Styling for the menu links */
.sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

.sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

/* Add hover color */
.sidebar ul li a:hover {
  color: #1c2541;
  background: #fff;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #1c2541;
}

.sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #1c2541;
}

.btn {
  background-color: #1c2541 !important;
  border-color: #3a506b !important;
}

/* Sidebar with the active class attached to it */
/* on desktop, the active class will be applied when the sidebar is hidden */
/* On mobile, the opposite is true, the active class will be applied when the sidebar is visible */
.sidebar.active { 
  margin-left: -250px; /* collapse navbar when 'active' */
}

/* All links with the data-toggle attribute will have position relative */
a[data-toggle="collapse"] {
  position: relative;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* The width of this property will be the remaining width of the wrapper */
.content {
  background-color: #fdfffc;
  width: 100%;
}
/* On mobile devices and screens < 768px, the sidebar will be hided by default */
@media (max-width: 768px) {
  .sidebar {
      margin-left: -250px;
  }
  .sidebar.active {
      margin-left: 0;
  }
}