<div class="wrapper">

  <!-- Sidebar -->
  <nav class="sidebar" [class.active]="toggled">

    <div class="sidebar-header">
      <h3>Sidebar 4</h3>
      <strong>SB</strong>
    </div>

    <!-- List with sidebar items -->
    <ul class="list-unstyled components">
      <li class="active">
        <a href="#homeSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-home"></i> Home
        </a>

        <ul class="collapse list-unstyled" id="homeSubMenu">
          <li><a href="#">Home 1</a></li>
          <li><a href="#">Home 2</a></li>
          <li><a href="#">Home 3</a></li>
        </ul>
      </li>

      <li>
        <a href="#"><i class="fas fa-briefcase"></i> About</a>
        <a href="#pageSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-copy"></i> Pages
        </a>
        <ul class="collapse list-unstyled" id="pageSubMenu">
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </li>

      <li><a href="#">
        <i class="fas fa-image"></i> Portfolio
      </a></li>

      <li><a href="#">
        <i class="fas fa-question"></i> FAQ
      </a></li>

      <li><a href="#">
        <i class="fas fa-paper-plane"></i> Contact
      </a></li>
    </ul>
  </nav>

  <!-- Content -->
  <div class="content">

    <!-- Custom nav to access the sidebar toggle buttons -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">

        <button class="btn btn-info" id="sidebarCollapse" type="button" (click)="toggleSidebar()">
          <i class="fas fa-bars"></i>
        </button>

        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" 
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle Navigation">
          <i class="fas fa-align-justify"></i>
        </button>

      </div>
    </nav>

    <!-- Actual page content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h2>Collipsable Sidebar Using Bootstrap 4</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="line"></div>
      <div class="row">
        <div class="col">
          <h2>Lorem Ipsum Dolor</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="line"></div>
      <div class="row">
        <div class="col">
          <h2>Lorem Ipsum Dolor</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="line"></div>
      <div class="row">
        <div class="col">
          <h3>Lorem Ipsum Dolor</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>

  </div>
</div>