/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: 'Poppins', sans-serif;
  background: #fdfffc;
}

html, body {
  margin: 0;
  padding: 0;
}

router-outlet + * {
  position: absolute;
  display: block;
  height: 100vh;
  width: 100vw;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
  padding: 0;
  margin: 0;
}

