<div class="container-fluid h-100vh">
  <div class="row h-100 align-content-center pb-0 pb-md-5">
    <div class="col">
      <div class="row justify-content-center">
        <div class="col">
          <h1 class="text-center"><b>Side Menu Test App</b></h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <h4 class="subtitle text-center">Select one of the following examples:</h4>
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-3 px-1 col-md-2">
          <a routerLink="/1" class="w-100 btn btn-lg btn-primary">1</a>
        </div>
        <div class="col-3 px-1 col-md-2">
          <a routerLink="/2" class="w-100 btn btn-lg btn-primary">2</a>
        </div>
        <div class="col-3 px-1 col-md-2">
          <a routerLink="/3" class="w-100 btn btn-lg btn-primary">3</a>
        </div>
        <div class="col-3 px-1 col-md-2">
          <a routerLink="/4" class="w-100 btn btn-lg btn-primary">4</a>
        </div>
      </div>
    </div> 
</div>