<div class="container-fluid p-5">
  <div class="row justify-content-center">
    <h1><b>Side Menu Test App</b></h1>
  </div>
  <div class="row justify-content-center">
    <h4 class="subtitle">Select one of the following examples:</h4>
  </div>
  <div class="row align-content-center justify-content-center mt-5">
    <div class="col-2">
      <a routerLink="/1" class="w-100 btn btn-lg btn-primary">1</a>
    </div>
    <div class="col-2">
      <a routerLink="/2" class="w-100 btn btn-lg btn-primary">2</a>
    </div>
    <div class="col-2">
      <a routerLink="/3" class="w-100 btn btn-lg btn-primary">3</a>
    </div>
    <div class="col-2">
      <a routerLink="/4" class="w-100 btn btn-lg btn-primary">4</a>
    </div>
  </div>
</div>